<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg grey lighten-2">
  <!-- Logo -->
  <logo>
    <a class="navbar-brand" href="#">
      <i id="icon" 
      class="fa fa-car img-thumbnail" 
      style="text-shadow:
      rgb(130, 130, 130) 0px 0px 0px,
      rgb(136, 136, 136) 1px 1px 0px,
      rgb(143, 143, 143) 2px 2px 0px,
      rgb(149, 149, 149) 3px 3px 0px,
      rgb(155, 155, 155) 4px 4px 0px,
      rgb(161, 161, 161) 5px 5px 0px,
      rgb(167, 167, 167) 6px 6px 0px,
      rgb(174, 174, 174) 7px 7px 0px,
      rgb(180, 180, 180) 8px 8px 0px;
      font-size: 50px;
      color: rgb(224, 16, 30); 
      height: 201px; width: 201px; 
      height: 100px;
      width: 100px; 
      line-height: 100px; 
      border-radius: 50%;
      text-align: center; 
      background-color: rgb(186, 186, 186);">
      </i>
    </a>
  </logo>
  <!-- Logo -->  
  <!-- Liens -->
  <links>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="collaborateur/reservations/" routerLinkActive="active blue darken-3 blue darken-3">Réservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="collaborateur/annonces/" routerLinkActive="active blue darken-3 white-text">Annonces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="collaborateur/statistiques" routerLinkActive="active blue darken-3 white-text">Statisques</a>
        </li>
    </ul>
  </links>
  <links>
    <!-- Portrait de l'utilisateur -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
          <a class="dropdown-item" href="javascript:;;">Deconnexion</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Liens -->
</mdb-navbar>
<!--/.Navbar-->