<div>

  <!--Card image-->
  <img class="img-fluid" src="{{vehiculeSociete?.urlPhoto}}" alt="Card image cap">

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <a href="admin/vehicules/{{vehiculeSociete?.immatriculation}}"><h4 class="card-title red-text" > {{vehiculeSociete?.immatriculation}}
        </h4></a>
      <!--Text-->
      <p>{{vehiculeSociete?.marque}} - {{vehiculeSociete?.modele}}</p>
      <p>{{CategorieVehicule[vehiculeSociete?.categorie]}}</p>
      

      
     
  </div>

</div>
