<div class="row mx-auto"><p>Penser à mettre le menu, le bouton de déconnexion et le retour à la liste</p></div>
<div class="row mx-auto"><h1>Publier une annonce</h1></div>
<div class="row mx-auto">
  <div class="col">
    <itineraire-creation (formInfos)="traiterItineraire($event)" ></itineraire-creation>
  </div>
</div>
<div class="row mx-auto mt-2">
  <div class="col">
    <vehicule-covoiturage-creation (formEventVehicule)="traiterVehicule($event)"></vehicule-covoiturage-creation>
  </div>
</div>
<div class="row mx-auto mt-2">
  <div class="col">
    <horaire-covoiturage-creation (formEventHoraire)="traiterHoraire($event)"></horaire-covoiturage-creation>
  </div>
</div>
<div class="row">
  <div class="col">
    <button (click)="validerFormulaire()"  type="button">Valider</button>
  </div>
</div>