<div class="container-fluid">
  <!-- <label for="searchText">Filtrer par pseudo : </label> -->
  <!-- <input [(ngModel)]="searchText" placeholder="search password" id="searchText"> -->
  <h1>Véhicules</h1>
  <div class="row">
    <div class="d-flex flex-column">
      <p>Filtres</p>
      <label for="searchImmatriculation">Immatriculation: </label>
      <input placeholder="search immatriculation" id="searchImmatriculation">

      <label for="searchMarque">Marque: </label>
      <input placeholder="search marque" id="searchMarque">

    </div>
  </div>

  <div class="row d-flex flex-row-reverse">



      <button type="button" class="btn btn-red waves-light" mdbWavesEffect (click)="form.show()">Ajouter un vehicule</button>
   
  </div>
  <div class="row">

    <div class="col-4" *ngFor="let col of vehicules">
      <vehicule [vehicule]="col"></vehicule>
    </div>
  </div>
</div>


<!-- Modal d'ajout d'un vehicule -->
<!--Modal: Contact form-->

<div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> Vehicule</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <div class="md-form form-sm">
                    
                    <input mdbInputDirective type="text" id="immatriculation" class="form-control">
                    <label for="immatriculation">Immatriculation</label>
                </div>

                <div class="md-form form-sm">
                  
                    <input mdbInputDirective type="password" id="marque" class="form-control">
                    <label for="marque">Marque</label>
                </div>

                <div class="md-form form-sm">
                 
                    <input mdbInputDirective type="text" id="modele" class="form-control">
                    <label for="modele">Modèle</label>
                </div>

                <div  class="md-form form-sm">
                   
                        <label>Default Select</label>
                        <select  class="browser-default">
                            <option *ngFor="let items  of optionSelect">{{items.label}}</option>
                          
                        </select>
                                
                    <label for="form8">Catégorie</label>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-light" mdbWavesEffect>Annuler</button>
                    <button class="btn btn-info mb-2 waves-light" mdbWavesEffect>Ajouter</button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!--Modal: Contact form-->
                