<div class ="container-fluid">
  <div class="row border border-dark">
    <div class="col-11">
      Itinéraires
    </div>
  </div>
  <div class="row border border-dark mt-1">
    <div class="col-8 offset-2">
      <form>
          <label for="inputAdresseDepart">Adresse de départ*</label>
          <input  autocorrect="off" autocapitalize="off" spellcheck="off" 
            type="text" name="inputAdresseDepart" id="inputAdresseDepart" class="form-control" #searchDepart [formControl]="searchControl">
        
          <label for="inputAdresseArrive">Adresse d'arrivé*</label>
          <input autocorrect="off" autocapitalize="off" spellcheck="off" 
           type="text" name="inputAdresseArrive" id="inputAdresseArrive" class="form-control" #searchArrive [formControl]="searchControl">
        <p>Durée du trajet {{duree}}</p>
        <p>Distance : {{distance}}</p> 
      </form>
    </div>
  </div>
</div>
